---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-loop-convert,
  modernize-use-emplace,
  performance-*,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-string-cstr,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-too-small-loop-variable,
  -bugprone-inc-dec-in-conditions,
  -bugprone-branch-clone,
  -clang-analyzer-cplusplus.NewDelete,
  -performance-avoid-endl,
  -performance-enum-size
WarningsAsErrors: ''
HeaderFilterRegex: '.*/reseq/[^/]*\.(h|hpp)$'
FormatStyle: file
