---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++14
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
PointerAlignment: Left
SpaceAfterCStyleCast: false
